body{background-color: powderblue;}
h1  {
margin-top: 75px;
color: black;
font-family: verdana;
font-size: 250%;
}
h2  {
color: white;
font-family: verdana;
font-size: 200%;
}
p   {
  color: black;
  font-family: courier;
  font-size: 150%;
}
ul  {
  color: #000;
  font-family: courier;
  font-size: 130%;
  }
  p {margin: 20px;}
  .header-text{
    text-align: center;
    border: solid 1px gray;
    padding: 20px;
    margin-bottom: -1px;
      }
  .container {
    vertical-align: top;
  }
  nav{
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    display: inline-block;
    vertical-align:top;
    padding: 20px;
    position:absolute;
    width:150px;
  }
.main-content{
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  display: inline-block;
  width: 82.6%;
  vertical-align: top;
  padding: 20px;
  margin-left: 190px;
}
